# Advanced Querying Mongo

Importing libraries and setting up connection

In [ ]:
# from pymongo import MongoClient
# client = MongoClient("")

In [4]:
from pymongo import MongoClient
client = MongoClient()
db = client.ironhack

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [9]:
db.companies

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'companies')

In [41]:
# Your Code

filt = {"name":{"$eq":"Babelgum"}} 
proyect = {"_id":0, "name":1}
result = db.companies.find(filt,proyect)
#list(result)

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [40]:
# Your Code

filt = {"number_of_employees":{"$gt":5000}}
proyect = {"_id":0, "name":1}
result = db.companies.find(filt,proyect).sort("number_of_employees",-1).limit(20)
#list(result)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [39]:
# Your Code

filt = {"founded_year":{"$gte":2000,"$lte":2005}}
proyect = {"_id":0,"name":1,"founded_year":1}
result = db.companies.find(filt,proyect)
#list(result)

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [38]:
# Your Code
#Esta busqueda no me daba ningún valor

filt = {"$and":[{"ipo.valuation_amount":{"$eq":100000000}},{"founded_year":{"$lt":2000}}]}
proyect = {"_id":0,"name":1,"ipo":1}
result = db.companies.find(filt,proyect)
#list(result)

In [37]:
#Busqueda por valuation_amount.

filt = {"ipo.valuation_amount":{"$eq":100000000}}
proyect = {"_id":0,"name":1,"ipo":1}
result = db.companies.find(filt,proyect)
#list(result)

In [43]:
#Busqueda por Found_year.

filt = {"founded_year":{"$lt":2000}}
proyect = {"_id":0,"name":1,"ipo":1}
result = db.companies.find(filt,proyect)
#list(result)

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [45]:
# Your Code

filt = {"$and":[{"number_of_employees":{"$lt":1000}},{"founded_year":{"$lt":2005}}]}
proyect = {"_id":0,"name":1}
result = db.companies.find(filt,proyect).sort("number_of_employees",-1).limit(10)
#list(result)

### 6. All the companies that don't include the `partners` field.

In [97]:
# Your Code
#Esta me da una lista vacía pero creo que esta mal como lo hice

fields = {"partners":"$nin"}
proyect = {"_id":0,"name":1}
result = db.companies.find(fields,proyect)
list(result)

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [59]:
# Your Code

fields = {"category_code":{"$type":"null"}}
proyect = {"_id":0,"name":1}
result = db.companies.find(fields,proyect)
#list(result)

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [61]:
# Your Code

filt = {"number_of_employees":{"$gte":100,"$lt":1000}}
proyect = {"_id":0, "name":1,"number_of_employees":1}
result = db.companies.find(filt,proyect)
#list(result)

### 9. Order all the companies by their IPO price in a descending order.

In [76]:
# Your Code

filt = {"ipo.valuation_amount":{"$exists":"ipo.valuation_amount"}}
proyect = {"_id":0,"name":1,"ipo.valuation_amount":1}
result = db.companies.find(filt,proyect).sort("ipo.valuation_amount",-1).limit(10)
#list(result)

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`.

In [80]:
# Your Code

filt = {"number_of_employees":{"$exists":"number_of_employees"}}
proyect = {"_id":0,"name":1,"number_of_employees":1}
result = db.companies.find(filt,proyect).sort("number_of_employees",-1).limit(10)
#list(result)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [82]:
# Your Code

filt = {"founded_month":{"$gte":6}}
proyect = {"_id":0,"name":1,"founded_month":1}
result = db.companies.find(filt,proyect).limit(1000)
#list(result)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [85]:
# Your Code

filt = {"$and":[{"founded_year":{"$lt":2000}},{"acquisition.price_amount":{"$gt":1000000}}]}
proyect = {"_id":0,"name":1,"founded_year":1,"acquisition.price_amount":1}
result = db.companies.find(filt,proyect)
#list(result)

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [111]:
# Your Code
#En este ejercicio entiendo que hay que mostar "acquisition.acquired_year"

filt = {"acquisition.acquired_year":{"$gt":2010}}
proyect = {"_id":0,"name":1,"acquisition":1}
result = db.companies.find(filt,proyect).sort("acquisition.price_amount",-1)
#list(result)

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [93]:
# Your Code

filt = {"founded_year":{"$exists":"founded_year"}}
proyect = {"_id":0,"name":1,"founded_year":1}
result = db.companies.find(filt,proyect).sort("founded_year",-1)
#list(result)

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [108]:
# Your Code

filt = {"founded_day":{"$lte":7}}
proyect = {"_id":0,"name":1,"acquisition.price_amount":1}
result = db.companies.find(filt,proyect).sort("acquisition.price_amount",-1)
#list(result)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [113]:
# Your Code

filt = {"$and":[{"category_code":{"$eq":"web"}},{"number_of_employees":{"$gt":4000}}]}
proyect = {"_id":0,"name":1,"category_code":1,"number_of_employees":1}
result = db.companies.find(filt,proyect).sort("number_of_employees",-1)
#list(result)

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [119]:
# Your Code

filt = {"$and":[{"acquisition.price_amount":{"$gt":10000000}},{"acquisition.price_currency_code":{"$eq":"EUR"}}]}
proyect = {"_id":0,"name":1,"acquisition.price_amount":1,"acquisition.price_currency_code":1}
result = db.companies.find(filt,proyect)
#list(result)

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [131]:
# Your Code

filt = {"acquisition.acquired_month":{"$lte":3}}
proyect = {"_id":0,"name":1,"acquisition":1}
result = db.companies.find(filt,proyect).limit(10)
#list(result)

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [138]:
# Your Code

filt = {"founded_year":{"$gte":2000,"$lte":2010},"acquisition.acquired_year":{"$lt":2011}}
proyect = {"_id":0,"name":1,"acquisition":1}
result = db.companies.find(filt,proyect)
#list(result)

### 20. All the companies that have been 'deadpooled' after the third year.

In [137]:
# Your Code

filt = {"deadpooled_year":{"$gt":3}}
proyect = {"_id":0,"name":1,"deadpooled_year":1}
result = db.companies.find(filt,proyect)
#list(result)